<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#addTaskModal">Add Task</button>
        </div>
    </div>
    <div th:include="script.html"></div>
    <div class="row" id="taskContainer" style="background-color: #f7f7f3; min-height: 90vh ">
        <!-- Tasks will be dynamically added here -->
        <div class="col-md-4" th:each="task : ${tasks}">
            <div class="card" style="margin-top: 1rem">
                <div th:class="${task.isCompleted? 'bg-info card-body ' : 'bg-light card-body'}">

                    <div style="font-family: 'Abyssinica SIL'">
                        <h5 class="card-title" th:text="${task.getTitle()}">Task Title</h5>
                    </div>
                    <div class="rounded"
                         style="font-family: 'Abyssinica SIL' ; background-color: #f0f0e4; padding: 1rem; margin-bottom: 1rem">
                        <h5 class="card-title" th:text="${task.getDetails()}">Details</h5>
                    </div>
                    <div style="display: flex; gap: 1rem; justify-content: stretch">
                        <form id="editTaskForm" th:action="@{/editTask}" method="get">
                            <label>
                                <input hidden="hidden" th:value="${task.getId()}" th:name="taskId">
                            </label>
                            <button class="btn btn-secondary btn-sm float-right">Edit</button>
                        </form>
                        <form id="deleteTaskForm" th:action="@{/deleteTask}" method="post">
                            <label>
                                <input hidden="hidden" th:value="${task?.getId()}" th:name="taskId">
                            </label>
                            <button class="btn btn-danger btn-sm mr-2">Delete</button>

                        </form>
                        <form id="markComplete" th:action="@{/markComplete}" method="post">
                            <!--                            <label for="completedYes"> Completed</label>-->
                            <label>
                                <input type="number" id="markngID" hidden="hidden" name="taskId" th:value="${task.id}">
                            </label>
                            <!--                            <button th:type="submit" id="completedYes" name="completed" value="true" ></button>-->
                            <button th:class="${task.isCompleted}? 'btn btn-sm  btn-success' : 'btn btn-sm  btn-secondary'"
                                    th:type="submit" th:text="${task.isCompleted? 'Completed' : 'Pending'}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--            <div th:include="addTaskModel"></div>-->
            <div class="modal-body">
                <form id="addTaskForm" th:action="@{/addTask}" th:method="post">
                    <div class="form-group">
                        <label for="taskTitle">Title</label>
                        <input type="text" class="form-control" id="taskTitle" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="taskDetails">Details</label>
                        <textarea class="form-control" id="taskDetails" name="details" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function submitForm(id) {
        console.log("some6hing")
        document.getElementById("markngID").value = id;
        document.getElementById("markComplete").submit();
    }
</script>
</body>

</html>
